@page
@model FribergsCars.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/Home.css" />

<header>
    <h1>Friberg's Car Rental</h1>
</header>

<main>
    <p>Welcome to Friberg's Car Rental, your trusted partner for car rentals.</p>
    <img src="/Images/Friberg.png" alt="Friberg's Car Rental Logo" class="car-image">
    <p>
        Explore our diverse fleet of vehicles and enjoy a seamless rental experience.
        <br />
        If you don't have an account yet, <span class="create-account-text">create an account</span> or <span class="create-account-text">login</span> now.
    </p>
</main>
