.create-container {
    margin: 40px;
}

    .create-container h1 {
        text-align: center;
    }

    .create-container h4 {
        text-align: center;
    }

    .create-container hr {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .create-container .row {
        display: flex;
        justify-content: center;
    }

    .create-container .col-md-4 {
        width: 50%;
    }

    .create-container form {
        margin-top: 20px;
    }

    .create-container .form-group {
        margin-bottom: 20px;
    }

        .create-container .form-group label {
            font-weight: bold;
        }

    .create-container .form-control {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .create-container .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        .create-container .btn-primary:hover {
            background-color: #0056b3;
        }

    .create-container a {
        display: block;
        margin-top: 20px;
        text-align: center;
        color: #007bff;
    }

        .create-container a:hover {
            text-decoration: underline;
        }
